.App {
  text-align: center;
}

.check{
  width: 500px;
  background-color: #f0f3f5;
  margin: 30px auto;
  color: #4d535f;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.check__div{
  display: flex;
  flex-wrap: wrap; /* перенос */
}

.check__div div{
  /* border: 1px solid #aaa; */
  margin: 4px auto;
}

.check__div-1{
  flex: 1;
  padding-left: 30px;
  text-align: left;
  color: #818c99;
}

.check__div-2{
  flex: 1;
  padding-right: 30px;
  text-align: right;
  color: #2a5885;
}

.check__div-tovar-1{
  flex: 1;
  padding-left: 30px;
  text-align: left;
}

.check__div-tovar-2{
  flex: 6;
  text-align: center;
}

.check__div-tovar-3{
  flex: 4;
  padding-right: 30px;
  text-align: right;
}

.check__img{
  width: 60px;
}

.check__div-wrap{
  width: 100%;
  margin: 0;
}

.check__hr{
  margin-left: 30px;
  margin-right: 30px;
  color: #818c99;
  background-color: #818c99;
  border: none;
  height: 1px;
}

.info{
  color: #2c2d2e !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.check__h2{
  color: #000;
  margin: 15px auto;
  padding-top: 15px;
}



.error__div{
  margin: 10% auto 0px auto;
  color: #4d535f;
  font-weight: 300;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.error__h1{
  /* font-weight: normal; */
  font-weight: 300;
}

.error__p{
  font-weight: 300;
}









.TableCheck{
  width: 100% ;
  text-align: left;

  /* display: flex; */
  /* justify-content: flex-start; */
}

.TdLev{
  width: 45%;
  padding-top: 10px;
  padding-left: 30px;
  color: #818c99;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.TdPrav{
  width: 55%;
  padding-top: 10px;
  padding-right: 30px;
  color: #2a5885;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
}

.TdInfo{
  color: #2c2d2e !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.TdLev3{
  /* border: 2px solid #c6cacf; */
  width: 10%;
  /* min-width: 40px; */
  padding-top: 10px;
  padding-left: 30px;
  color: #818c99;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.TdSred3{
  width: 40%;
  padding-top: 10px;
  color: #818c99;
  text-align: center;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.TdPrav3{
  width: 40%;
  padding-top: 10px;
  padding-right: 30px;
  color: #2a5885;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.td-pad-bottom-L{
  padding-bottom: 30px;
}

.td-pad-top-S{
  padding-top: 20px;
}

.StH1{
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
  color: #4d535f;
}

.Check{
  /* background-color: #edeef0; */
  background-color: #f0f3f5;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.HrCheck{
  margin-left: 30px;
  margin-right: 30px;
  color: #818c99;
  background-color: #818c99;
  border: none;
  height: 1px;
}

.TablHref{
color: #005db1 !important;
text-decoration-line: none;
}

/* .TablHref:visited{
  color: #551a8b !important;  
  } */

  .TablHref:hover{
    color: #005db1;
    text-decoration-line: underline;
    }

.containerInfo { /*контейнер с информацией*/
  display: flex;
  justify-content: flex-start;
}









.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div_email{
  margin-bottom: 15px;
}

.p_email{
  font-size: 16px;
}

.input_email{
  width: 250px;
  height: 30px;
  margin-right: 10px;
  font-size: 16px;
  border: 2px solid #c6cacf;
  border-radius: 3px;
  
}

.app__button{
  /* width: 300px; */
  /* height: 30px; */

  background-color: #f0f3f5;
  border: none;
  border-radius: 3px;
  /* width: 170px; */
  height: 35px;
  color: #616c7a;
  font-size: 16px;
  /* margin-bottom: 15px; */
      /* margin-top: 10px;
     text-align: center;
   padding-left: 10%;  */

    /* &:hover{background-color: #c2ced8;} */

    .app__button__error{
  background-color: #ec0000;
  }
}

.app__button:hover{
  background-color: #c2ced8;
}



#Tovar {
counter-reset: test 0;
 }

#Tovar p::before {
counter-increment: test 5;
content: counter(test);
} 







.hr-dotted {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 3px dotted #ddd;
}